#seperator {
    min-height: 100vh;
    background: url(../img/Manager/Manager.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.manager-nav-link a{
    color: orange;
}

.manager-nav-link a:visited {
    color: black;
}

.modal-header {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 100%;
    border-radius: 50%;
}

.pHeader{
    font-weight:bold;
}