/*Menu*/
#orderMenu {
    background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url(../img/main/MenuBack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.order-item-name{
    height:35px;
    font-weight:bold;
}

.orderItem {
    height: 35px;
    border: 2px solid black;
}

.order-item-quantity {
    height: 35px;
    border: 1px solid black;
}

.modal-header {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 100%;
    border-radius: 50%;
}

.pHeader {
    font-weight: bold;
}